.page {
	overflow-x: scroll;
	overflow-y: scroll;
}


/*.v-canvas-container {
	background-color: #A4C652;
}*/

.rod {
	position: relative;
	margin-top: 1%;
	/*margin-left: 50%;*/
	width: 0.1%;
	height: 15.375em;
	border-radius: 5px;
	transform-origin: 50% 0%;
	transform: rotate(60deg);
	background-color: black;
	font-size: 1.4vw;
}

.pivot {
	position: absolute;
	left: -0.225em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: black;
}

.ball {
	position: absolute;
	bottom: 0%;
	left: -1em;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background-color: orange;
}

.graph {
	height : 50%;
	width : 100%;
	margin-left: 7.5%;
	overflow-x: scroll;
}
